<div id="importFromMnemonic">
  <div class="form-header">
    Import Account from Mnemonic
  </div>
  <form class="form-body" style="height: 200px;" onsubmit="importAccountFromMnemonic(event);">
    <br />
    <div style="width: 400px;">
      <div style="display: flex; justify-content: space-between; align-content: space-between;">
        <span class="item">Name:</span>
        <input type='text' id='ifm-name' size="32"/>
      </div>
      <div style="margin: 5px 0 5px 0; display: flex; justify-content: space-between; align-content: space-between;">
        <span class="item">Mnemonic Words: </span>
        <textarea id='ifm-mnemonic' placeholder="Mnemonic Words" rows="3"  style="resize: none; margin:2px;"></textarea>
      </div>
      <div style="margin: 5px 0 5px 0; display: flex; justify-content: space-between; align-content: space-between;">
        <span class="item">Passphrase (Optional):</span>
        <input type='password' id='ifm-pass' size="32" autocomplete="off"/>
      </div>
    </div>
  </form>
  <div class="form-footer">
    <button class="button" onclick="importAccountFromMnemonic(event)">Import</button>
  </div>
</div>

<script>
  const importAccountFromMnemonic = async (e) => {
    e.preventDefault();
    try {
      const name = $("#ifm-name").val();
      const mnemonic = $("#ifm-mnemonic").val();
      const passphrase = $("#ifm-pass").val();
      const account = await conseiljs.TezosWalletUtil.unlockIdentityWithMnemonic(mnemonic, passphrase);
      SmartpyWallet.account.persist({
        name: name,
        accountType: SmartpyWallet.constants.accountTypes.NORMAL,
        address: account.publicKeyHash,
        publicKey: account.publicKey,
        privateKey: account.privateKey
      });
      showModal({
        title: "Account Imported",
        content: `<div class='white-space-pre'>${JSON.stringify(account, null, 2)}</div>`
      });
    } catch (e) {
      showModal({
        title: "Error",
        content: `<div class='white-space-pre'>${JSON.stringify(e.message, null, 2)}</div>`
      });
    }

  }
</script>