<div class="tabs">
  <div class="tab">
    <span class="title">From: </span>
    <button id="walletTab" class="tablinks active" onclick="useWallet();openTab(event, 0)">The SmartPy Wallet</button>
    <button id="ledgerTab" class="tablinks" onclick="useLedger();openTab(event, 1)">A Ledger Hardware Wallet</button>
    <button id="plainTextTab" class="tablinks" onclick="usePlainText();openTab(event, 2)">Plain Text Test Keys</button>
  </div>
  <div class="tabcontent" style="display: block;">
    <div include-html="./components/wallet-widget.html"></div>
  </div>
  <div class="tabcontent" style="display: none;">
    <div include-html="./components/ledger-widget.html"></div>
  </div>
  <div class="tabcontent" style="display: none;">
    <span class='partialType'>Warning: this is for test networks such as Carthagenet and Zeronet, do not
      input Mainnet Private Keys here.</span>
    <br><em>A private key is needed - you can use the Tezos Faucet Importer embedded in the <a href="wallet.html" target="_blank">wallet</a> to retrieve one.</em>
    <br>
    <span class="item">Private Key:</span> <input type='text' id='privateKeyInput' value='' />
    <br>
    <em>With a private key, you can <button class='centertextbutton' onClick='getCredentials("")'>check
        credentials and compute account public key hash</button> and obtain a public account.</em>
    <br>
    <span class="item">Account public key hash:</span> <input type='text' id='accountPKH' value='' readonly />
  </div>
</div>
