<h1>Templates</h1>

<button class='centertextbutton' onClick="setDialogAjax('Select template', 'templates/syntax.html');">Open Syntax Examples</button>

<h2>Simple Examples</h2>

<p><button class="text-button" onclick="loadTemplate('calculator.py')">Calculator</button>
  <br>A simple calculator on the blockchain.

<p><button class="text-button" onclick="loadTemplate('worldCalculator.py')">World Calculator</button>
  <br>A simple expression calculator on the blockchain (with parsing and pretty-printing).

<p><button class="text-button" onclick="loadTemplate('fifo.py')">Fifo</button>
  <br>Contracts storing user defined first-in first-out data structures.

<p><button class="text-button" onclick="loadTemplate('storeValue.py')">Store Value</button>
  <br>Store some data in the storage of a contract and change its value by calling its entry points.

<h2>Protocols</h2>
<p><button class="text-button" onclick="loadTemplate('atomicSwap.py')">Atomic Swap</button>
  <br>A simple, and naive, atomic swap contract.

<p><button class="text-button" onclick="loadTemplate('escrow.py')">Escrow</button>
<br>A simple escrow contract.

<p><button class="text-button" onclick="loadTemplate('multisig.py')">Multisig</button>
<br>A complex contract handling several multisig sub-contracts, each have several groups of several participants with extensive parametrization.

<h2>dApps</h2>
<p><button class="text-button" onclick="loadTemplate('chess.py')">Chess game</button>
<br>Example template with moves for a few pieces.

<p><button class="text-button" onclick="loadTemplate('game_of_life.py')">Game of Life</button>
<br>Example template for a game of life simulator.

<p><button class="text-button" onclick="loadTemplate('nim.py')">Nim game</button>
<br>Implementation of a Nim game (wikipedia <a href="https://en.wikipedia.org/wiki/Nim" target="_blank">page</a>).
<br>Use of arrays.
<br>One contract handles one game.

<p><button class="text-button" onclick="loadTemplate('nimLift.py')">Nim game repository</button>
<br>Implementation of a Nim game (wikipedia <a href='https://en.wikipedia.org/wiki/Nim' target="_blank">page</a>).
<br>One contract can handle many games in parallel.

<p><button class="text-button" onclick="loadTemplate('FA1.2.py')">Fungible Assets: FA1.2</button>

<p><button class="text-button" onclick="loadTemplate('FA2.py')">FA2, Fungible, Non-fungible, Multiple or Single Assets</button>
<br>A meta-programming approach to build fungible, non-fungible, multiple or single assets.

<p><button class="text-button" onclick="loadTemplate('oracle.py')">Oracles</button>
  <br>Building Chainlink oracles on Tezos - still experimental

<p><button class="text-button" onclick="loadTemplate('minikitties.py')">Mini Kitties</button>
<br>Small example freely inspired by crypto-kitties

<p><button class="text-button" onclick="loadTemplate('tictactoe.py')">TicTacToe game</button>
<br>A simple TicTacToe game showing many regular concepts for simple games.

<p><button class="text-button" onclick="loadTemplate('tictactoeFactory.py')">TicTacToe game factory</button>
<br>A factory to handle several simple TicTacToe games showing many regular concepts for simple games.

<p><button class="text-button" onclick="loadTemplate('stateChannels.py')">State Channels</button>
<br>A contract transforming a simple game into a state channel for this game.

<h2>Seasonal</h2>
<p><button class="text-button" onclick="loadTemplate('jingleBells.py')">Jingle Bells</button>
