<h1>Reference Examples</h1>

<button class='centertextbutton' onClick="setDialogAjax('Select template', 'templates/select.html');">Open Regular Templates</button>

<h2>Syntax Examples</h2>

<p><button class="text-button" onclick="loadTemplate('minimal.py')">Minimal</button>
  <br>An almost minimal template to start with.

<p><button class="text-button" onclick="loadTemplate('welcome.py')">Welcome</button>
  <br>A small example with a very simple storage and only one small entry point.

<p><button class="text-button" onclick="loadTemplate('syntax.py')">Syntactic Constructions</button>
  <br>Several syntax examples.

<p><button class="text-button" onclick="loadTemplate('init_type_only.py')">Init Type Only</button>
  <br>Example without specifying the initial storage.

<p><button class="text-button" onclick="loadTemplate('stringManipulations.py')">Strings and Bytes</button>
  <br>Using <span class='code'>sp.len</span>, <span class='code'>+</span>, <span class='code'>sp.concat</span>, <span class='code'>e.slice(.., ..)</span>.

<p><button class="text-button" onclick="loadTemplate('testLists.py')">Lists</button>
  <br>Creation, iteration, construction from maps and sets, ranges.

<p><button class="text-button" onclick="loadTemplate('testDiv.py')">EDiv</button>
  <br>Variations around <span class='code'>sp.ediv</span>

<p><button class="text-button" onclick="loadTemplate('lazy.py')">Lazy Strings</button>
  <br>Big map to reduce gas usage.</span>

<p><button class="text-button" onclick="loadTemplate('create_contract.py')">Contract creation</button>
  <br>Using <span class='code'>sp.create_contract</span>.</span>

<p><button class="text-button" onclick="loadTemplate('layout.py')">Data Type Layouts</button>
  <br>Changing the layouts of data types <span class='code'>sp.set_record_layout</span>, <span class='code'>sp.set_variant_layout</span>, <span class='code'>sp.set_type_record_layout</span> and <span class='code'>sp.set_type_variant_layout</span>.

<p><button class="text-button" onclick="loadTemplate('testTimestamp.py')">Timestamps</button>
  <br>Using <span class='code'>sp.now</span>, <span class='code'>sp.timestamp</span>, <span class='code'>(..).add_seconds</span> and <span class='code'>-</span>.

<p><button class="text-button" onclick="loadTemplate('testVariant.py')">Options, Enums and Variants</button>
  <br>Using <span class='code'>sp.is_variant</span>, <span class='code'>sp.open_variant</span>, <span class='code'>sp.is_some</span>, <span class='code'>sp.open_some</span>, <span class='code'>sp.match</span>.

<p><button class="text-button" onclick="loadTemplate('testCheckSignature.py')">Cryptographic Signatures</button>
  <br>Using <span class='code'>sp.check_signature</span>.

<p><button class="text-button" onclick="loadTemplate('testHashFunctions.py')">Hash Functions</button>
  <br>Using <span class='code'>sp.blake2b</span>, <span class='code'>sp.sha256</span>, <span class='code'>sp.sha512</span>.

<p><button class="text-button" onclick="loadTemplate('collatz.py')">On Chain Contract Calls - Collatz</button>
  <br>Using <span class='code'>sp.contract</span>, <span class='code'>sp.transfer</span>, <span class='code'>sp.self</span>, <span class='code'>sp.self_entry_point</span>.

<p><button class="text-button" onclick="loadTemplate('bakingSwap.py')">Baking Swap</button>
  <br>Use of <span class='code'>sp.set_delegate</span>, <span class='code'>sp.sender</span>, <span class='code'>sp.now</span>, <span class='code'>sp.amount</span>.

<p><button class="text-button" onclick="loadTemplate('inlineMichelson.py')">Inline Michelson</button>
  <br>Direct inlining of Michelson code in SmartPy.

<p><button class="text-button" onclick="loadTemplate('lambdas.py')">Lambdas</button>
  <br>Lambdas in SmartPy.

<p><button class="text-button" onclick="loadTemplate('fixed_precision.py')">Fixed precision computations</button>
  <br>Example of fixed precision computation (log function) in SmartPy.

<p><button class="text-button" onclick="loadTemplate('checkLanguage.py')">Check Language Constructions</button>
  <br>Many computations compared between pure Python and SmartPy.

<p><button class="text-button" onclick="loadTemplate('decompilation.py')">Decompilation Test</button>
  <br>A very simple toy example to show how decompilation can work in SmartPy thanks to its meta-programming capabilities.
